body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

input, button {
    margin: 5px;
    padding: 10px;
}

button {
    background: #333;
    color: white;
}